@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dosis Bold";
    src: local("Dosis Bold"), url("./assets/fonts/Dosis-Bold.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Dosis Medium";
    src: local("Dosis Medium"),
      url("./assets/fonts/Dosis-Medium.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Dosis SemiBold";
    src: local("Dosis SemiBold"),
      url("./assets/fonts/Dosis-SemiBold.ttf") format("ttf");
    font-display: swap;
  }
}

@layer components {
  .section-parent {
    @apply flex flex-col items-center py-16 relative;
  }
  .section-title {
    @apply text-xl mb-3;
  }
  .section-description {
    @apply opacity-70 max-w-md text-center text-lg;
  }
  .section-parent::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 70px;
    background-color: white;
    top: -15%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
}
