@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dosis Bold";
    src: local("Dosis Bold"), url("./assets/fonts/Dosis-Bold.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Dosis Medium";
    src: local("Dosis Medium"),
      url("./assets/fonts/Dosis-Medium.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Dosis SemiBold";
    src: local("Dosis SemiBold"),
      url("./assets/fonts/Dosis-SemiBold.ttf") format("ttf");
    font-display: swap;
  }
}

@layer components {
  .section-parent {
    @apply flex flex-col items-center py-16 relative ;
  }
  .section-title {
    @apply text-xl mb-3;
  }
  .section-description {
    @apply opacity-70 max-w-md text-justify text-lg;
  }
  .section-parent::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 70px;
    background-color: white;
    top: -15%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .selected {
    @apply text-violet-500;
  }
  .mobile-menu {
    @apply hidden transition delay-75
  }
  .mobile-menu--show {
    @apply block md:hidden fixed w-full h-screen inset-0 p-5 bg-zinc-800 z-20 overflow-hidden;
  }
}
